@if(isLoading() && isSubmittedForm()) {
<div style="text-align: center; padding: 4rem; background-color: #ffffff; border: 1px solid #dee2e6; border-radius: 8px; margin: 2rem auto; max-width: 400px;">
  <p style="color: #6c757d; font-size: 2rem;">Loading questions...</p>
</div>
} 

@if (!isLoading() && isSubmittedForm()) {
<form (ngSubmit)="onSubmitQuiz()">
  <fieldset>
    <legend>Quiz Form</legend>

    <p><strong>Category:</strong> {{ currentQuestion().category }}</p>
    <p><strong>Question:</strong> {{ currentQuestion().question }}</p>

    @for (option of shuffleOptions(currentQuestion()); track option) {
    <label>
      <input type="radio" name="question" [value]="option" [checked]="userSelectedAnswer() === option" (change)="userSelectedAnswer.set(option)"/>
      {{ option }}
    </label>
    } 
    
    <div style="text-align: center; margin-top: 2rem; padding-top: 2rem; border-top: 1px solid #dee2e6;">
      @if (currentIndex() < listOfQuestions().length - 1) {
      <button type="button" (click)="onNextQuestion()">Next Question</button>
      <button type="button" (click)="showAnswer(currentIndex())">Show Answer</button>
      } @else if (currentIndex() === listOfQuestions().length - 1) {
      <button type="submit">Submit Quiz</button>
      <button type="button" (click)="showAnswer(currentIndex())">Show Answer</button>
      }
    </div>
  </fieldset>
</form>
}
