<form (ngSubmit)="onFormSubmit(testname.value)">
  <fieldset>
    <legend>Test Form</legend>
    <label for="test-name">Test Name</label>
    <input
      id="test-name"
      type="text"
      placeholder="Enter test name..."
      #testname
    />

    <label for="category-box">Category</label>
    <div class="category-box">
      <button
        *ngIf="isComputerScienceVisible()"
        type="button"
        (click)="
          label.set('Computer Science');
          isComputerScienceVisible.set(false);
          onSelectCategory('Computer Science')
        "
      >
        Computer Science
      </button>
      <button
        *ngIf="isMathematicsVisible()"
        type="button"
        (click)="
          label.set('Mathematics');
          isMathematicsVisible.set(false);
          onSelectCategory('Mathematics')
        "
      >
        Mathematics
      </button>
      <button
        *ngIf="isGeneralKnowledgeVisible()"
        type="button"
        (click)="
          label.set('General Knowledge');
          isGeneralKnowledgeVisible.set(false);
          onSelectCategory('General Knowledge')
        "
      >
        General Knowledge
      </button>
    </div>

    <label for="selected-box">Selected Category</label>
    <div class="selected-box">
      <button
        *ngIf="!isComputerScienceVisible()"
        type="button"
        (click)="isComputerScienceVisible.set(true)"
      >
        Computer Science
      </button>
      <button
        *ngIf="!isMathematicsVisible()"
        type="button"
        (click)="isMathematicsVisible.set(true)"
      >
        Mathematics
      </button>
      <button
        *ngIf="!isGeneralKnowledgeVisible()"
        type="button"
        (click)="isGeneralKnowledgeVisible.set(true)"
      >
        General Knowledge
      </button>
    </div>

    <div style="text-align: center; margin-top: 2rem; padding-top: 2rem; border-top: 1px solid #dee2e6;">
      <button type="submit">Submit</button>
      <button type="button" (click)="onCloseForm()">Close</button>
    </div>
  </fieldset>
</form>

