/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

body {
  background-color: #f8f9fa;
  color: #495057;
}

p,
h1,
td,
th,
label,
input,
button,
fieldset {
  font-family: "Inter";
  font-size: 2rem;
  padding: 1.5rem;
  margin: 1rem;
}

button {
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
  height: 6rem;
  width: 12rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  color: #495057;
}

button:hover {
  cursor: pointer;
  background-color: #e9ecef;
  border-color: #ced4da;
}
